{% extends "base.html" %}
{% load static %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block page_title%}{% endblock %}
{% block og_page_title %}{% endblock %}
{% block og_page_description %}{% endblock %}
{% block og_social_img_url %}{% endblock %}
{% block og_page_url %}{% endblock %}
{% block x_page_title %}{% endblock %}
{% block x_page_description %}{% endblock %}
{% block x_image_url %}{% endblock %}
{% block styles_css %}
    <link rel="stylesheet" href="{% static 'meet_app/css/all-meets.css' %}">
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
    <section>
        <div id="main-header">
            <h1 id="main-logo" >Meet App</h1>
            <h2>Meetup With Cool People In Your Neighbourhood.</h2>
            <h3>All Meetups</h3>
            <p>Ayoba yo!</p>
        </div>
        {% if show_meetups %}
            {% for meet_item in meetups %}
                {% include 'meet_app/includes/meetup-item.html' %}
            {% endfor %}
        {% else %}
            <p>No matching meetups found!</p>
        {% endif %}
    </section>
{% endblock %}
{% block footer %}
{% endblock %}