{% extends "base.html" %}
{% load static %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block page_title%}{% endblock %}
{% block og_page_title %}{% endblock %}
{% block og_page_description %}{% endblock %}
{% block og_social_img_url %}{% endblock %}
{% block og_page_url %}{% endblock %}
{% block x_page_title %}{% endblock %}
{% block x_page_description %}{% endblock %}
{% block x_image_url %}{% endblock %}
{% block styles_css %}
    <link rel="stylesheet" href="{% static 'meet_app/css/all-meets.css' %}">
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}
    <section>
        <div id="main-header">
            <h1 id="main-logo" >Meet App</h1>
            <h2>Meetup With Cool People In Your Neighbourhood.</h2>
            <h3>All Meetups</h3>
            <p>Ayoba yo!</p>
        </div>
        {% if show_meetups %}
            {% for meet_item in meetups %}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="" alt="">
                            </div>
                            <div class="meetup-details">
                                <h3>{{ meet_item.title }}</h3>
                                <address>{{ meet_item.location }}</address>
                            </div>
                        </div>
                        <div class="meetup-actions">
                            <a href="{% url 'meetup-details' meet_item.slug  %}" class="btn">More Details</a>
                        </div>
                    </article>
                </li>
            {% endfor %}
        {% else %}
            <p>No matching meetups found!</p>
        {% endif %}
    </section>
{% endblock %}
{% block footer %}
{% endblock %}